main {
	background-color: black;
}

.step:hover {
	border: #fff 2px solid;
	transform: scale(1.1, 1.1);
	transition: all 0.25s ease-in-out;
}

footer {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: oswald;
}

@media screen and (min-width: 786px) {
	.both-foot {
		display: flex;
	}

	.footer-con {
		padding: 1rem;
		width: 100%;
		margin: auto;
		background-color: rgb(22, 0, 36);
		height: 285px;
		overflow: hidden;
	}

	.footer-w {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	ul {
		list-style: none;
	}

	ul li {
		padding: 8px;
	}

	.foot {
		display: flex;
		flex-direction: column;
		margin: 8px;
		align-items: stretch;
		font-size: 15px;
		color: rgb(152, 112, 170);
	}

	.jsimg {
		width: 70px;
		height: 70px;
		object-fit: cover;
		margin-left: 1rem;
	}

	h1 {
		font-size: 2.5rem;
		color: rgb(152, 112, 170);
	}

	.foot a {
		color: #a674af;
		text-decoration: none;
	}

	.fourthfoot {
		color: #a674af;
		list-style: none;
	}

	.fourthfoot ul {
		padding: 1rem;
	}

	.link-icons {
		display: flex;
		justify-content: center;
		padding: 0.4rem;
	}

	.link-icons a {
		padding: 0.5rem;
		color: rgb(152, 112, 170);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 1.5rem;
		border-radius: 50%;
		text-decoration: none;
	}
}

@media screen and (max-width: 786px) {
	.foot a {
		color: #a674af;
		text-decoration: none;
	}

	.footer-con {
		padding: 1rem;
		width: 100%;
		margin: auto;
		background-color: rgb(22, 0, 36);
		height: auto;
		overflow: hidden;
	}

	.footer-w {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
	}

	.foot {
		width: 100%;
	}

	.foot .p-p {
		display: flex;
		justify-content: space-between;
		padding: 1rem;
	}

	.p-p img {
		width: 50px;
		height: 50px;
		object-fit: cover;
		border-radius: 50%;
	}

	h1 {
		font-size: 2.5rem;
		color: rgb(152, 112, 170);
	}

	h2 {
		font-family: oswald;
		color: #a674af;
		text-align: center;
		padding: 1rem;
	}

	.both-foot {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
	}

	.both-foot ul {
		list-style: none;
	}

	ul li {
		padding: 3px;
	}

	.fourthfoot {
		display: flex;
		color: #a674af;
		list-style: none;
		justify-content: space-between;
		width: 100%;
	}

	.fourthfoot ul {
		list-style: none;
		padding: 1rem;
	}

	.fourthfoot ul li p {
		padding: 0.3rem;
		color: #a674af;
	}

	.link-icons {
		display: flex;

		justify-content: flex-start;
		align-items: flex-start;
		padding: 0.4rem;
	}

	.link-icons a {
		padding: 0.5rem;
		color: rgb(152, 112, 170);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		font-size: 1.5rem;
		border-radius: 50%;
		text-decoration: none;
	}
}

.link-icons a:hover {
	/* color: black; */
	background-color: #fff;
	border-radius: 50%;
	border: 2px solid black;
	transition: all 0.35s ease-in-out;
}

.foot ul {
	display: flex;
	flex-direction: column;
	row-gap: 30px;

	padding: 1rem;
	color: rgb(152, 112, 170);
	font-size: 0.8rem;
}

.foot ul li a p {
	font-family: oswald;
}

.foot .user-foot {
	display: flex;
	text-decoration: none;
	line-height: 2;
	align-items: stretch;
}

.foot .user-foot i {
	padding: 0.5rem;
}

h2 {
	font-family: oswald;
}
